
<h1 class="h3 mb-3 font-weight-normal text-center">Nos artistes disponibles</h1>

<% @artists.each do |artist| %>
<div class="card-product">
  <%= cl_image_tag artist.artist_pp.key, id: "artist_photo", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="card-product-infos">
    <h2><%= artist.name %></h2>
    <p class="details" style="font-size:20px" > Description: <%= artist.description %> </p>
    <td><%= link_to 'Show', artist %></td>
    <% if policy(artist).edit? %>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <% end %>
  </div>
</div>
<% end %>
