<div class="container">
	<div class="row align-items-start">
		<div class="col-12">
			<h1 class="h3 mb-3 font-weight-normal text-center">Retrouvez tous nos artistes !</h1>
		</div>
	</div>
</div>

<div class="container">
	<% @artists.each do |artist| %>
		<div class="card-product">
  		<%= cl_image_tag artist.artist_pp.key, id: "artist_photo", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  		<div class="card-product-infos">
    		<h3><%= artist.name %></h3>
    		<p class="details" style="font-size:20px" ><%= artist.description.truncate(130) %> </p>

    		<div class="container">
  				<div class="row">
    				<div class="col-md-auto">
    					<%= link_to 'Plus de détails', artist %>
    				</div>
    				<div class="col-md-auto">
    					<%= link_to 'Réserver', artist_path(artist) %>
    				</div>
    				<% if policy(artist).edit? %>
    					<div class="col-md-auto">
    						<%= link_to 'Editer mon profil d artiste', edit_artist_path(artist) %>
    					</div>
    				<% end %>
    			</div>
    		</div>
  		</div>
		</div>

	<% end %>
</div>
