<h1>Creation Order</h1>

<%= simple_form_for ([@artist, @availability, @order]) do |f| %>
  <%= f.input :target %>
  <%= f.input :description %>
  <%= f.select(:service, options_for_select(@services)) %>
  <%= f.button :submit %>
<% end %>
