<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="p-5">Creation Order</h1>

      <%= simple_form_for ([@artist, @availability, @order]), class: "pinkform" do |f| %>
      <div class="form-inputs ">
        <%= f.label :target, "Numéro de téléphone *" %><br />
        <%= f.text_field :target, autofocus: true, placeholder: "Numéro de contact", class: "form-control pinkform my-2" %>

        <%= f.label :description, "Notes pour l'artiste *" %><br />
        <%= f.text_field :description, autofocus: true, placeholder: "Notes supplémentaires pour l'artiste", class: "form-control pinkform my-2" %>
        <%= f.input :service, as: :radio_buttons, required:true, collection: @services_radio %>
        <%= f.button :submit, "Accéder au paiement", class: "btn btn-lg btn-pinkwhite btn-block btn-success my-2" %>
      </div>
      <% end %>

    </div>
  </div>
</div>