<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
	<% @artist.availabilities.each do |availability| %>
  <table>
    <thead>
      <tr>
        <th> Heure de début </th> 
        <th> Heure de fin </th>
        <th> Supprimer </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= availability.start_date %> </td>
        <td> <%= availability.end_date %> </td>
        <td><%= link_to "Effacer cette disponibilité", availability_path(availability.id),
        method: :delete,
        data: { confirm: t('.confirm', default: 'Etes-vous sûr ?') },
        class: 'delete' %> </td>
      </tr>
    </tbody>
  </table>
  
  <% end %>
</p>


<%= simple_form_for @availability do |form| %>
<div class="form-input">
  <%= form.text_field :start_date, data: {behavior: "flatpickr" } %>
  <%= form.text_field :end_date, data: {behavior: "flatpickr" } %>
   
</div>
<div class="form-action">
  <%= form.submit "Creer une disponibilité", class:"btn btn-primary"%>
</div>
<% end %>

<br/><br/>

<% start_date = Date.today %>
<% date_range = (start_date.beginning_of_week..start_date.end_of_week).to_a %>

<table>
  <thead>
    <tr>
      <% date_range.each do |day| %>
        <th> <%= day %> </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
   <% date_range.each do |day| %>
   hour = day.midnight
    <td>
      <table>
        <% 96.times do |quarter| %>
            <tr>   
              <td>
                <%= hour %> : <%= hour + 15*60 %>
                <!--<%=(quarter*15)/60 %> : <%=(quarter*15)%60 %>-->
              </td>
            </tr>
        <% end%>
      </table>
    </td>
   <% end %>
  </tbody>
</table>
